APP_NAME='The art of living'
APP_ENV=local
APP_KEY=base64:tiWPAGHoMdziLc1lliWzPbre/6fm+2fpXO7hmCoiNPM=
APP_DEBUG=true
APP_URL=https://shubansoftware.ch/AOL/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=shubanso_art_of_living
DB_USERNAME=shubanso_art_of_living
DB_PASSWORD=shubanso_art_of_living
 
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=30

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME='dharampal.shuban@gmail.com'
MAIL_PASSWORD='vhpzhjmusxhryvqa'
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"
 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CURRENCY_SYMBOL='₹'
CURRENCY_NAME='INR'

BTREE_ENVIRONMENT='sandbox'
BTREE_MERCHANT_ID='7b6b8gq7hpzxcxbj'
BTREE_PUBLIC_KEY='v2mg68ydqz6krjq4'
BTREE_PRIVATE_KEY='65ff0a3f0413375a1b244b5d254aff8e'

JWT_SECRET=f2QTZGkzEmTSHSAk7Jj8aFTxqyfxupCtEy2MFQxL8E3EsoYuzxEmr14rSCV3hYXm
JWT_TTL=43200